@import "variable";
@import "mixins";


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    // padding: 3%;
    margin: 3%;
    
    // width: 100%; 
}

main{
    @include genMain;
    @include search;

    .the-connected{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        background: map-get($colors , sub2 );
        background-image: url(../images/Group\ 21.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        
        

        img{
            padding: 50px;
        }

        div{
            padding-right: 50px;
            // border: 1px solid red;

            h2{
                font-weight: 600;
                font-size: 2.25rem;
                line-height: 2.688rem;
                letter-spacing: -0.06rem;
                margin: 8px 0;
                color: map-get($colors , sub3 );
            }
    
            hr{
                background: map-get($colors , secondary );
                width: 88px;
                height: 4px;
                border-radius: 6px;
                margin: 5px 0;
            }
            
            p{
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                color: map-get($colors , sub3 );
                margin: 10px 0;
            }

            a{
                background: map-get($colors, mainn );
                color: map-get($colors, sub2 );
                gap: 0.625rem;
                // padding: 1rem 1.5rem;
                margin: 1rem 0 0;
                width: 131px;
                height: 51px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
            }
        }
    }

    .celebrated{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        background: map-get($colors , sub2 );
        background-image: url(../images/Frame\ 40.png);
        background-position: left bottom;
        background-repeat: no-repeat;

        .text-holder{
            padding: 50px;
            h2{
                font-weight: 600;
                font-size: 2.25rem;
                line-height: 2.688rem;
                letter-spacing: -0.06rem;
                margin: 8px 0;
                color: map-get($colors , sub3 );
            }
    
            hr{
                background: map-get($colors , secondary );
                width: 88px;
                height: 4px;
                border-radius: 6px;
                margin: 5px 0;
            }
    
            p{
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                color: map-get($colors , sub3 );
                margin: 10px 0;
            }
    
            a{
                background: map-get($colors, mainn );
                color: map-get($colors, sub2 );
                gap: 0.625rem;
                // padding: 1rem 1.5rem;
                margin: 1rem 0 0;
                width: 131px;
                height: 51px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
            }
        }

        .img-holder{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 30px;
            padding: 50px;
        }
    }

    .talent{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // align-items: center;
        // justify-content: center;
        background: map-get($colors , sub2 );
        padding: 50px;
        div{
            border: 1px solid map-get($colors , sub4 );
            border-radius: 8px;
            width: 400px;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;

            img{
                margin: 0.5rem;
            }

            h3{
                font-weight: 600;
                font-size: 36px;
                line-height: 43px;
                text-align: center;
                letter-spacing: -0.04em;
                color: map-get($colors, mainn );
                margin: 0.5rem; 
            }

            p{
                font-weight: 300;
                font-size: 1rem;
                line-height: 1.188rem;
                text-align: center;
                color: map-get($colors, sub3 );
                margin: 0.5rem;
            }
        }
    }

    .about{
        background: map-get($colors , main );
        background-image: url(../images/Frame\ 45.png), url(../images/Frame\ 46.png), url(../images/Frame\ 482.png);
        background-position: right top, center, bottom center ;
        background-repeat: no-repeat;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        padding: 5%;
        color: map-get($colors , sub2);

        .about-list{
            display: flex;
            align-items: flex-start;
            gap: 120px;
            padding: 0;
            // justify-content: space-between;
            h4{
                color: map-get($colors , secondary);
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.188rem;
            }
    
            a{
                color: map-get($colors , sub2);
            }
            
            ul{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
            }
        }
    }

    .end{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
        // flex-direction: row;

    }
}
@include create;
@include logins;
@include connected;
@include past;
@include category;