@import "variable";
@import "mixins";


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    padding: 3%;
    
    // width: 100%; 
}

main{
    display: grid;
    font-family: $fonts;
    width: 100%;

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: map-get($colors , sub2 );
        
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
    
            li{
                padding: 10px;
                
                a{
                    color: map-get($colors , sub3 );
                    font-family: $fonts;
                    font-weight: 400;
                }
            }
        }
    
        .login{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            font-weight: 400;
    
            a{
                background: map-get($colors, subb );
                color: map-get($colors, mainn );
                display: flex;
                align-items: center;
                justify-content: center;
                width: 93px;
                height: 51px;
                border-radius: 4px;
                // padding: 2px 2px;
            }
            .Create{
                background: map-get($colors, mainn );
                color: map-get($colors, sub2 );
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 166px;
    
            }
        }
    }
    .searcher{
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: map-get($colors , sub1 );
    
        h1{
            font-size: 5rem;
            font-weight: 400;
        }
    
       div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        
        #search{
            background-image: url(../images/search-svgrepo-com\ 1.png);
            background-repeat: no-repeat;
            // background-attachment: fixed;
            background-position: 10px ;
            text-indent: 30px;
            // display: flex;
            // flex-direction: row;
            // justify-content: center;
            // align-items: center;
            padding: 10px;
            // margin: 20px 250px;
            // gap: 24px;
            width: 660px;
            height: 64px;
            border: 1px solid map-get($colors , sub4 );
            border-radius: 4px;
        }
    
        a{
            background: map-get($colors, mainn );
            color: map-get($colors, sub2 );
            width: 160px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
        }
       }
    
       a{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: map-get($colors , sub3 );
        &:hover{
            cursor: pointer;
        }
       }
    }
    
    .target{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1440px;
        height: 39.3125rem;
        background: map-get($colors, main );
        background-image: url(../images/Frame\ 48.png), url(../images/Frame\ 47.png), url(../images/Frame\ 46.png), url(../images/Frame\ 45.png);
        background-position: left top, left bottom, right top, right bottom;
        background-repeat: no-repeat;
        // margin: 0;
        
        h2{
            
            font-weight: 400;
            font-size: 48px;
            line-height: 58px;
            text-align: center;
            letter-spacing: -0.06em;
            color: map-get($colors , sub2 );
            margin: 10px 0 100px;
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            padding-bottom: 50px;
    
            li{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: map-get($colors , sub2 );
                border: 2px solid map-get($colors , sub5);
                width: 290px;
                height: 290px;
            }
        }
    }

    .the-connected{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        background: map-get($colors , sub2 );
        background-image: url(../images/Group\ 21.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        
        

        img{
            padding: 50px;
        }

        div{
            padding-right: 50px;
            // border: 1px solid red;

            h2{
                font-weight: 600;
                font-size: 2.25rem;
                line-height: 2.688rem;
                letter-spacing: -0.06rem;
                margin: 8px 0;
                color: map-get($colors , sub3 );
            }
    
            hr{
                background: map-get($colors , secondary );
                width: 88px;
                height: 4px;
                border-radius: 6px;
                margin: 5px 0;
            }
            
            p{
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                color: map-get($colors , sub3 );
                margin: 10px 0;
            }

            a{
                background: map-get($colors, mainn );
                color: map-get($colors, sub2 );
                gap: 0.625rem;
                // padding: 1rem 1.5rem;
                margin: 1rem 0 0;
                width: 131px;
                height: 51px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
            }
        }
    }

    .celebrated{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        background: map-get($colors , sub2 );
        background-image: url(../images/Frame\ 40.png);
        background-position: left bottom;
        background-repeat: no-repeat;

        .text-holder{
            padding: 50px;
            h2{
                font-weight: 600;
                font-size: 2.25rem;
                line-height: 2.688rem;
                letter-spacing: -0.06rem;
                margin: 8px 0;
                color: map-get($colors , sub3 );
            }
    
            hr{
                background: map-get($colors , secondary );
                width: 88px;
                height: 4px;
                border-radius: 6px;
                margin: 5px 0;
            }
    
            p{
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                color: map-get($colors , sub3 );
                margin: 10px 0;
            }
    
            a{
                background: map-get($colors, mainn );
                color: map-get($colors, sub2 );
                gap: 0.625rem;
                // padding: 1rem 1.5rem;
                margin: 1rem 0 0;
                width: 131px;
                height: 51px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
            }
        }

        .img-holder{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 30px;
            padding: 50px;
        }
    }

    .talent{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // align-items: center;
        // justify-content: center;
        background: map-get($colors , sub2 );
        padding: 50px;
        div{
            border: 1px solid map-get($colors , sub4 );
            border-radius: 8px;
            width: 400px;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;

            img{
                margin: 0.5rem;
            }

            h3{
                font-weight: 600;
                font-size: 36px;
                line-height: 43px;
                text-align: center;
                letter-spacing: -0.04em;
                color: map-get($colors, mainn );
                margin: 0.5rem; 
            }

            p{
                font-weight: 300;
                font-size: 1rem;
                line-height: 1.188rem;
                text-align: center;
                color: map-get($colors, sub3 );
                margin: 0.5rem;
            }
        }
    }

    .about{
        background: map-get($colors , mainn );
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        padding: 5%;
        color: map-get($colors , sub2);

        .about-list{
            display: flex;
            align-items: flex-start;
            gap: 120px;
            padding: 0;
            // justify-content: space-between;
            h4{
                color: map-get($colors , secondary);
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.188rem;
            }
    
            a{
                color: map-get($colors , sub2);
            }
            
            ul{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
            }
        }
    }

    .end{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
        // flex-direction: row;

    }
}

